# Exclude HTML files from GitHub's language statistics
# https://github.com/github/linguist#using-gitattributes
tests/data/** linguist-vendored
benches/data/** linguist-vendored
fuzz/corpus/** linguist-vendored
