[package]
name = "lol-html-js-api"
version = "1.0.0"
authors = ["Ivan Nikulin <inikulin@cloudflare.com>"]
edition = "2021"

publish = false

[dependencies]
js-sys = "0.3.33"
lol_html = { path = "../" }
serde = { version = "1.0.104", features = ["derive"] }
serde-wasm-bindgen = "0.4.5"
wasm-bindgen = "0.2"

[lib]
crate-type = ["cdylib", "rlib"]
