name: CI

on:
  pull_request:
  push:
    branches:
      - master

env:
  RUSTFLAGS: -Dwarnings
  RUST_BACKTRACE: 1

jobs:
  clippy:
    name: Clipy and format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Install Rust
        run: rustup update stable --no-self-update && rustup default stable
      - name: Install rustfmt
        run: rustup component add rustfmt
      - name: Check format
        run: cargo fmt -- --check
      - name: Cache cargo index and registry
        uses: actions/cache@v4
        with:
          key: immutable # this will always be hit because it's a constant
          path: |
            ~/.cargo/registry/cache
            ~/.cargo/registry/index
      - name: Create lockfile
        run: cargo generate-lockfile
      - name: Fetch dependencies
        run: cargo fetch
      - name: Cache target directory
        uses: actions/cache@v4
        with:
          path: target
          key: clippy-target-${{ runner.os }}-${{ steps.rust-version.outputs.version }}-${{ hashFiles('Cargo.lock') }}
      - name: Run clippy
        run: cargo clippy --all --all-targets
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Rust (rustup)
      run: rustup update stable --no-self-update && rustup default stable
    - name: Get rust version
      id: rust-version
      run: echo "::set-output name=version::$(rustc --version)"
    - name: Run Rust tests
      run: scripts/test.sh
